
<div >

    <h1 class="d-flex mt-3 mx-3">Some error Occured please try again</h1>
    <div>
        
        <button class="btn btn-secondary mt-3 mx-3 " onclick="resetPage()">Retry</button>
    </div>
    
</div>
<script>
    function resetPage() {
        // Redirect to the main page (home page)
        window.location.href = '/';
    }
</script>